# Creating, Reading and Writing

In [1]:
import pandas as pd

### DataFrame

创建一个DataFrame对象

In [2]:
pd.DataFrame({'Yes':[50,'d3ac'],'No':['orzz',2]})

    Yes    No
0    50  orzz
1  d3ac     2

设置index

In [3]:
pd.DataFrame({'Yes':[50,'d3ac'],'No':['orzz',2]},index=['col1','col2'])

       Yes    No
col1    50  orzz
col2  d3ac     2

### Series

创建一个Series对象

In [4]:
pd.Series([1,2,3,'d3ac','orzz'])

0       1
1       2
2       3
3    d3ac
4    orzz
dtype: object

相比于DataFrame来说，Series就是一个列表(list)，而DataFrame是一个表格(table)，Series是表格中的一列，就算维度高也是取axis=0的维度

一个Series可以有一个名字，DataFrame是column name，Series是overall name

In [5]:
pd.Series([[1,2,3],[4,5,6]],index=['Col1','Col2'],name='this Series')

Col1    [1, 2, 3]
Col2    [4, 5, 6]
Name: this Series, dtype: object

set_option 可选参数：

| 功能 | 参数名 |
| ---- | ---- |
| 显示列 | display.max_columns |
| 显示行 | display.max_rows |
| 显示小数位数 | display.float_forrmat |
| 显示宽度 | display.width |

还可以让我血压升高

In [6]:
data = pd.DataFrame({'Math':[86],'English':[73],'Sports':[76],'Physical Experiment':['良好']})
print(data,end='\n\n')
pd.set_option('display.max_columns', 3)
print(data)

   Math  English  Sports Physical Experiment
0    86       73      76                  良好

   Math  ...  Physical Experiment
0    86  ...                   良好

[1 rows x 4 columns]

### 数据读取

path中的 $../$ 可表示上层文件夹，当然，只是提一下，这里并没有这样用

In [7]:
pd.read_csv('TempFolder/data.csv')

   Unnamed: 0 name  score
0           1  zyy    100
1           2  yyz     60
2           3  yzy     70
3           4  zyz     80

可以设置index在哪一行

In [8]:
pd.read_csv('TempFolder/data.csv',index_col=0)

  name  score
1  zyy    100
2  yyz     60
3  yzy     70
4  zyz     80

没有第一行的名字的情况

In [10]:
pd.read_csv('TempFolder/data2.csv',header=None,names=['名字','分数'])

     名字     分数
0  Name  Score
1   猫猫虫     60
2    咖波     70
3   布偶猫    100
4    熊猫     30
5     狗    NaN
6   NaN      1

### 数据输出

In [ ]:
data = pd.DataFrame({'name':['a','b','c','d'],'score':[233,114,514,1919810]})
data

  name    score
0    a      233
1    b      114
2    c      514
3    d  1919810

In [ ]:
data.to_csv('TempFolder/outfile.csv')