# Data Types and Missing Values

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('TempFolder/detype.csv')
data

    province     GDP  speed
0  guangdong  124369    8.0
1    jiangsu  116364    8.6
2   shandong   83096    8.3
3   zhejiang   73516    8.5
4      henan   58887    6.3
5    sichuan   53851    8.2

数据类型

In [3]:
data.dtypes

province     object
GDP           int64
speed       float64
dtype: object

In [4]:
print(data.province.dtypes)
print(data.GDP.dtype)
print(data.speed.dtype)

object
int64
float64

In [5]:
data.GDP= data.GDP.astype('float64')
data.dtypes

province     object
GDP         float64
speed       float64
dtype: object

In [6]:
data.index.dtype

dtype('int64')

Missing Values

In [7]:
Nadata = pd.read_csv('TempFolder/nan.csv')
Nadata

  Type  Score Name
0    B   64.0  abc
1    C   46.0   cc
2    B   24.0  NaN
3  NaN    NaN    d
4    C   34.0  ddd
5    A    NaN   ge
6    A   76.0   ee

In [8]:
Nadata[Nadata.Score.isnull()]

  Type  Score Name
3  NaN    NaN    d
5    A    NaN   ge

In [9]:
Nadata[Nadata.Score.notnull()]

  Type  Score Name
0    B   64.0  abc
1    C   46.0   cc
2    B   24.0  NaN
4    C   34.0  ddd
6    A   76.0   ee

In [10]:
Nadata.Score.fillna('Unkown')

0      64.0
1      46.0
2      24.0
3    Unkown
4      34.0
5    Unkown
6      76.0
Name: Score, dtype: object

`repalce(x,y)` 将所有的 x 换为 y

In [11]:
Nadata.Type.replace('A','MOwOM')

0        B
1        C
2        B
3      NaN
4        C
5    MOwOM
6    MOwOM
Name: Type, dtype: object

In [12]:
Nadata.Type.replace(pd.NA,'E')

0    B
1    C
2    B
3    E
4    C
5    A
6    A
Name: Type, dtype: object